.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 10px;
    width: 4px;
    background: #DDD;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li.time-label>span {
    font-size: 13px;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}

.timeline>li>.glyphicon{
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #D2D6DE;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 4px;
}

.timeline>li>.timeline-item {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-top: 0px;
    background: #FFF;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
    /*background-color: #F5F5F5;*/
    background-color: #FFFFFF;
}

.timeline>li>.timeline-item>.time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #F4F4F4;
    padding: 10px;
    font-size: 15px;
    line-height: 1.1;
}

.timeline>li>.timeline-item>.timeline-body,
.timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
}

.bg-red{
    background-color: #DD4B39 !important;
    color: #FFFFFF !important;
}

.bg-blue {
    background-color: #0073B7 !important;
    color: #FFFFFF !important;
}
